* {
    box-sizing: border-box;
}

:root {
    --primary-color: #08A6E4;
    --color-primary-shadow: rgba(7, 172, 230, .16);
    --fontOpenSans: 'Open Sans', sans-serif;
    --fontRaleway: 'Raleway', sans-serif;
    --color-redish: #FB3B64;
    --color-green: #55DFB4;
    --color-black: #000000;
    --color-grey: #A5A5A5;
    --color-light-grey: #F7F7F7;
    --color-white: #FFFFFF;
}

a {
    text-decoration: none;
}

h2 {
    font-family: var(--fontRaleway);
    font-size: 36px;
}



h3 {
    font-size: 21px;
    font-family: var(--fontRaleway);
    font-weight: bold;
}


.container {
    margin: 0 auto;
    width: 1352px;
}

.page-header {
    box-shadow: 0 3px 6px #00000029;
}

.page-header .container {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.container .shop-name {
    font-size: 32px;
    font-family: var(--fontRaleway);
    font-weight: lighter;
    color: var(--primary-color);
}

.page-nav-list {
    display: flex;
}

.page-nav-list .nav-btn {
    padding: 28px 18px 22px;
    font-family: var(--fontOpenSans);
    font-weight: bold;
    color: var(--color-grey);
    letter-spacing: 3.28px;
    position: relative;
}

.nav-btn:hover::after {
    content: "";
    position: absolute;
    border: 1px solid #08A6E4;
    bottom: 0;
    left: 0;
    right: 0;
}

/* MAIN SECTION */

.main__content {
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content__header {
    font-family: var(--fontRaleway);
    font-size: 49px;
    margin-top: 130px;
}

.main__text {
    font-family: var(--fontOpenSans);
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 38px;
}

.main__link {
    font-family: var(--fontOpenSans);
    font-size: 16px;
    font-weight: bold;
    color: var(--color-white);
    background-color: var(--primary-color);
    box-shadow: 5px 10px 14px var(--color-primary-shadow);
    padding: 22px 157px 23px 157px;
    border-radius: 40px;
}

.main__photo {
    height: auto;
    width: 100%;
}

/* SEKCJA DATA */

.data {
    margin-top: 100px;
    /*max-width: 700px; */
}

.data__heading {
    font-size: 36px;
    text-align: center;
    font-family: var(--fontRaleway);

}

.data__container {
    display: flex;
    justify-content: space-around;
    margin: 100px 0 120px 0;
}

.data__info {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.icon {
    position: absolute;
}

.icon__person {
    top: 6px;
    right: 16px;
}

.icon__eye {
    top: 15px;
    right: 27px;
}

.icon__catalog {
    top: 9px;
    right: 14px;
}

.circle__data {
    border-radius: 50px;
    background-color: var(--color-redish);
    height: 62.71px;
    width: 62.71px;
}

.circle2 {
    background-color: var(--primary-color);
}

.circle3 {
    background-color: var(--color-green);
}



.data__numbers {
    font-family: var(--fontRaleway);
    font-weight: 800;
    letter-spacing: 6px;
    padding: 10px;
}

.data__text {
    font-family: var(--fontRaleway);
    color: var(--color-grey);
}


/* BENEFITS */

.benefits {
    background-color: var(--color-light-grey);
    padding: 100px 0;
}

.benefits__container {
    padding: 0 100px;
}

.benefits__box {
    display: flex;
    justify-content: space-between;
    background-color: var(--color-white);
    position: relative;
    border-radius: 5px;
    border: 1px solid #E8E9ED;
    margin-bottom: 37px;
}

.benefits__texts {
    max-width: 415px;
    margin: 90px 35px;
}

.benefits__title {
    font-family: var(--fontRaleway);
    font-size: 36px;
}

.benefits__content {
    font-family: var(--fontOpenSans);
    font-size: 16px;
    margin-top: 30px;
    position: relative;
    line-height: 20px;
}

.benefits1__content::after {
    content: "";
    position: absolute;
    display: block;
    border-bottom: 4px solid var(--color-redish);
    top: 90px;
    left: 0;
    right: 80px;
    height: 3px;
}

.laptop {
    width: 386px;
    height: auto;
    margin-top: 117px;
    margin-bottom: 38px;
    margin-right: 118px;
    z-index: 1;
}

.benefits1__texts::after {
    content: "";
    background: var(--color-redish);
    width: 200px;
    height: 200px;
    margin-top: 100px;
    border-radius: 40px;
    position: absolute;
    transform: rotate(45deg);
    top: -30px;
    right: 97px;
}

.benefits2 {
    flex-direction: row-reverse;
    /*margin-top: 90px;*/
    /*margin-right: 35px;*/
    position: relative;
}

.benefits2__content::after {
    content: "";
    position: absolute;
    display: block;
    border-bottom: 4px solid var(--primary-color);
    top: 90px;
    left: 0;
    right: 80px;
    height: 3px;
}

.telephone {
    width: 426px;
    height: auto;
    margin-top: 30px;
    margin-left: 70px;
    z-index: 1;
}

.benefits2__text::after {
    content: "";
    background: var(--primary-color);
    width: 320px;
    height: 320px;
    margin-top: 1px;
    border-radius: 50%;
    position: absolute;
    top: 7px;
    left: 70px;
}

.double__box {
    display: flex;
    justify-content: space-between;
}

.benefits3 {
    width: 623px;
    position: relative;
}

.trumpet__box {
    width: 440px;
    background-color: var(--color-green);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 37px;
}

.trumpet__img {
    width: 295px;
    height: auto;
    margin-top: 55px;
}

.benefits3__content::after {
    content: "";
    position: absolute;
    display: block;
    border-bottom: 4px solid var(--color-green);
    top: 90px;
    left: 0;
    right: 80px;
    height: 3px;
}

/* SECTION PRICING */

.pricing {
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pricing__tables {
    display: flex;
    align-items: center;
    margin-top: 50px;
    justify-content: space-around;
}

.pricing__table {
    width: 372px;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--color-redish);
}

.pricing__table__professional {
    width: 405px;
    margin: 0 40px;
    border: 1px solid var(--primary-color);
    box-shadow: 5px 1px 27px var(--color-primary-shadow);
}

.pricing__table__premium {
    border: 1px solid var(--color-green);
}

.pricing__details {
    text-align: center;
    margin: 0 0 60px 0 /* do check other margin */
}

.pricing__level {
    padding: 34px 0 14px 0;
}

.pricing__price {
    font-family: var(--fontOpenSans);
    font-size: 46px;
    font-weight: 300;
    color: var(--color-redish);
    padding: 14px;
}

.subheading {
    font-family: var(--fontRaleway);
    font-size: 12px;
    font-weight: bold;
    margin-top: 15px;
}

.pricing-item {
    padding: 20px;
    font-family: var(--fontOpenSans);
    font-size: 14px;
    text-align: center;
}

.pricing-item::before {
    content: "";
    width: 11px;
    height: 11px;
    margin-right: 13px;
    display: inline-block;

    background-image: url("../assets/Ckechmark-1.svg");
}

.not_av_item::before {
    background-image: url("../assets/Close.svg");
}

.btn {
    position: relative;
    font-family: var(--fontOpenSans);
    font-size: 13px;
    font-weight: bold;
    border-radius: 23px;
    color: var(--color-white);
    background-color: var(--color-redish);
    padding: 16px 64px;
    bottom: -23px;
}

.pricing__professional {
    --variable-details: var(--primary-color);
}

.item-pro {
    padding: 25px;
}

.pricing__premium {
    color: var(--color-green)
}

.btn__professional {
    background-color: var(--primary-color);
}

.btn__premium {
    background-color: var(--color-green);
}


